<h1 class="title">
  NextThink shop list
</h1>
<article>
  <h2>Available Items</h2>
  <div class="item-list">

    <div class="row" *ngFor="let item of getItems(items); let num = index">
      <span>
        <label class="capitalize aligner label-checkbox">
          <span class="row-text"
                *ngIf="!item.editing; else elseBlock">{{item.name}}</span>
          <ng-template #elseBlock>
            <input type="text" value="{{item.name}}"
                   (change)="onNameChange($event)"
                   name="input-text-{{item.value}}"
            />
          </ng-template>
          <input type="checkbox"
                 name="item-{{item.name}}"
                 class="regular-checkbox"
                 [checked]="item.selected"
                 [value]="item.value"
                 (change)="onCheckboxChange($event, null)">
        </label>
      </span>
      <span class="btn-row">
        <button class="btn"
                value="{{item.value}}"
                (click)="onEdit($event)"><i class="fa fa-edit"></i></button>
      </span>
    </div>
  </div>

  <h2>Selected Items</h2>
  <div class="item-list">
    <div class="row" *ngFor="let item of selectedItems; let num = index">
      <label class="capitalize">{{item.name}}
      </label>
      <span class="btn-row">

      <button class="btn"
              value="{{item.value}}"
              (click)="onEdit($event)"><i class="fa fa-edit"></i></button>
      <button class="btn"
              value="{{item.value}}"
              (click)="onRemove($event)"><i class="fa fa-trash"></i></button>
      </span>
    </div>
  </div>
</article>
